*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  line-height: 1.5em;
}

header {
  background-color: #79756f;
  display: block;
  text-align: center;
  border: 3px solid #595652;
}

.links {
  list-style-type: none;
}

.links a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

h1 {
  display: block;
  padding: 0;
  margin: .3em;
  font-family: "Bevan";
  color: #fff;
  text-align: center;
}

.links li {
  display: inline-block;
  padding: 0.5em 0.75em;
  margin: .0;
  background-color: #713837;
  border: 4px;
  border-radius: 3px;
  text-align: center;
}

.links a:hover {
  background-color: #f33;
  color: #fff;
}
